/BaseAndExtraService.class
/BaseAndPercentageOfValueService.class
/Commercial.class
/Community.class
/Hospital.class
/Industrial.class
/OtherProperty.class
/Property.class
/RatePayer.class
/Residential.class
/School.class
/ServiceType.class
/UnitAndRateService.class
/VacantLand.class
/package-info.class
